body{
    /* background-color: grey; */
    margin-right: 20px;
    padding-right: -30px;
    font-family: Montserrat-white;


}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: inherit;
}
.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat-white;
}

.navbar {
  /* padding: 0 0 4.5rem; */
  background-color: transparent;
  margin: 0px;
  width: 1598px;
  background-color: #00987f;
 position: fixed;
 z-index: 1;

}

h1{
  padding-top: 20px;
  position: relative;
  left: 113px;
  top: 84px;

}


.container .hos{
  height: 490px;
  width: 479px;
 position: relative;
 right: 15px;
 overflow: hidden;
}
input{
  border:  1px ;
  outline-color: lightblue;
  border-radius: 2px;

}
label{
  position: relative;
  left:30px;
  font-weight: bold;
  /* color: #fff; */
}
.name1{
  width: 33%;
position: relative;
border-radius: 4px;
left: 102px;
top: 2px;
}
.name2{
  width: 33%;
      position: relative;
      left: 106px;
      border-radius: 4px;
      top: 19px;
}
.password{
  position: relative;
      top: 21px;
}
::placeholder {
  color: grey;
  opacity: 1;
  text-align: center;
}
::-webkit-datetime-edit-year-field:not,
::-webkit-datetime-edit-month-field:not,
::-webkit-datetime-edit-day-field:not {
    color: transparent;
}




.hosp{
  width: 100%;
  height: 100%;
}
row{
  height:80%;
}
.r1{
  position: relative;
  top: 86px;
  display: flex;
  flex-wrap: wrap;
}
button{
  /* background: transparent; */

  /* position: relative; */
border: 1px solid grey;
position: relative;
top: 47px;
border-radius: 2px;
width: 18%;
left: 236px;
background-color: grey;
color: #fff;
}
.signup{
  position: relative;
  top: 127px;
left: 86px
}
ul {
  list-style: none;
}

ul li:before{
   content: '';

   border-right:2px solid black;
   border-bottom:2px solid black;
   width:10px;
   height:10px;
   /* top: calc(50% - 4px); */
   left: 142px;
   transform: translateY(-50%) rotate(-45deg);
    position: absolute;
    margin-top: 30px;
}

.contain2{
   position: relative;
  background-color: #dcdcdc;
  width:816px;
 height: 100%;
 padding-left: 30px;
  border-left: 4px solid #00987f;
  margin-left: -30px;
  margin-right: 20px;
}
